
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat';
}


