
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat';
}

/* h3{
    grid-area: main;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: 700;
    color: rgb(245, 151, 148);
    display: flex;
    justify-content: center;
    padding: 5px;
} */
