
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat';
}
h1, h2, h3{
    font-family: 'Montserrat';
    color: rgb(245, 151, 148);
    padding: 5px;
}
.nosotros{
    padding-bottom: 50px;
    padding-top: 50px;
}
